html {
  font-family: 'Varela Round', sans-serif;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

hr {
  width: 80%;
  transform: translateX(15%);
  border-color: #ccc;
}

/*HEADER*/
header {
  background-color: #EDF1F8;
  text-align: center;
}

nav li, nav a {
  color: #487FFF;
  display: inline-block;
  text-decoration: none;
}

.nav-register {
  color: #fff;
  background-color: #487FFF;
  border-radius: 8px;
  padding: .5em;
}

.nav-register:hover {
  background-color: #044FFF;
}

@media only screen and (min-width: 38em) {

  nav ul {
    text-align: right;
  }

}

/*banner*/
.banner, .img-overlay {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.content {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.title {
  color: #fff;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 12em;
}

header h1 {
  display: inline;
}

header p {
  color: #fff;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 6em;
  max-width: 400px;
}

/*half tablet*/
@media only screen and (max-width: 32em) {
  .title {
    bottom: 7em;
    width: 350px;
  }

  header p {
    bottom: 1.5em;
    max-width: 300px;
  }
}
/*mobile*/
@media only screen and (max-width: 25em) {
  .title {
    bottom: 6em;
    width: 300px;
  }

  header p {
    bottom: .25em;
    max-width: 300px;
  }
}

/*REGISTER BUTTON*/

.register {
  color: #fff;
  background-color: #487FFF;
  border-radius: 8px;
  padding: .5em 1.5em;
  text-decoration: none;
}

/*TESTIMONIALS SECTION*/

#testimonials {
  background-color: #ededed;
}

.headshot {
  width: 30%;
}

.feedback p {
  width: 55%;
  float: right;
  text-align: left;
}

.feedback img {
  float: left;
}

/*WORKS SECTION*/

.graph-img {
  width: 90%;
}

/*CARDS SECTION*/

.link-card {
  background-color: #ffcb52;
  padding: 3em;
}

.link-card a {
  color: #fff;
  text-decoration: none;
}

/*cards button*/
.card-btn {
  color: #2d2d2d;
  background-color: #fff;
  border-radius: 8px;
  padding: .5em 1.5em;
  text-decoration: none;
}

/*FOOTER*/

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2em;
}

.footer {
  min-height: 100%;
}

footer li, footer a {
  text-decoration: none;
  color: #2d2d2d;
}

footer button, footer button:hover {
  border-color: #487FFF;
  background-color: #044FFF;
  border: none;
}

footer fieldset {
  border-top: none;
}

footer input {
  border-radius: 8px;
  border: 2px solid #ccc;
  height: 40px;
}

footer input::-webkit-input-placeholder {
   font-size: .75em;
   padding: .5em;
}

section {
  height: 100%;
}

/*follow-up footer*/

#ty-footer-container {
  position: absolute;
}

.ty-footer {
  position: relative;
}

/*PRODUCT.HTML*/

#comp-section {
  background-color: #ededed;
}

/*REGISTER - SIGN UP*/

#register fieldset {
  border-top: none;
}

#register input, #register select {
  border-radius: 8px;
  border: 2px solid #ccc;
  height: 40px;
}

input[type="checkbox"] + label:before {
  border-radius: 8px;
  border: 2px solid #ccc;
  height: 25px;
  width: 25px;
}

.btn-reg {
  background-color: #487FFF;
  border: none;
}

.btn-reg:hover {
  background-color: #044FFF;
  border: none;
}

.btn-reg a {
  color: #fff;
  text-decoration: none;
}
