html {
  font-family: "Varela Round", sans-serif;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

hr {
  width: 80%;
  transform: translateX(15%);
  border-color: #ccc;
}

/* HEADER */

header {
  background-color: #edf1f8;
  text-align: center;
}

header nav li, header nav a {
  color: #487fff;
  display: inline-block;
  text-decoration: none;
}

header nav a:hover {
  color: #3259b3;
}

.nav-register:hover {
  background-color: #044fff;
  color: #fff;
}

.logo {
  max-width: 300px;
}

/* mobile */

@media only screen and (max-width: 38em) {

  .logo {
    margin: 0 6em;
  }

  nav li {
    padding: 3px;
  }

}

.nav-register {
  color: #fff;
  background-color: #487fff;
  border-radius: 8px;
  padding: .5em;
}

@media only screen and (min-width: 38em) {

  nav ul {
    text-align: right;
  }

}

/* MAIN BANNER */

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
}

/* mobile main banner */

@media only screen and (max-width: 25em) {

  .content {
    width: 100%;
  }

}

/* TOUR BANNER */

.content-pattern {
  background-image: url("../images/pattern-rocket.svg");
  background-repeat: repeat-x;
  padding: 12% 0;
}

/* REGISTER BUTTON */

.register {
  color: #fff;
  background-color: #487fff;
  border-radius: 8px;
  padding: .5em 1.5em;
  text-decoration: none;
}

.register:hover {
  background-color: #044fff;
}

/* TESTIMONIALS SECTION */

#testimonials {
  background-color: #ededed;
}

.headshot {
  width: 30%;
}

.feedback p {
  width: 55%;
  float: right;
  text-align: left;
}

.feedback img {
  float: left;
}

/* WORKS SECTION */

.graph-img {
  width: 90%;
}

/* CARDS SECTION */

.link-card {
  background-color: #ffcb52;
  padding: 3em;
}

.link-card a {
  color: #fff;
  text-decoration: none;
}

/* cards button */

.card-btn {
  color: #2d2d2d;
  background-color: #fff;
  border-radius: 8px;
  padding: .5em 1.5em;
  text-decoration: none;
}

/* follow-up footer */

#ty-footer-container {
  position: absolute;
}

.ty-footer {
  position: relative;
}

/* PRODUCT.HTML */

#comp-section {
  background-color: #ededed;
}

/* REGISTER - SIGN UP */

#register fieldset {
  border-top: none;
}

#register input, #register select {
  border-radius: 8px;
  border: 2px solid #ccc;
  height: 40px;
}

input[type="checkbox"] + label:before {
  border-radius: 8px;
  border: 2px solid #ccc;
  height: 25px;
  width: 25px;
}

.btn-reg {
  background-color: #487fff;
  border: none;
}

.btn-reg:hover {
  background-color: #044fff;
  border: none;
}

.btn-reg a {
  color: #fff;
  text-decoration: none;
}

/*  TOUR TABLE/CALENDAR */

#calendar {
  background-color: #ededed;
  padding: 4em 0 5em;
}

table td {
  border-radius: 12px 12px 0 0;
}

.days td {
  background-color: #fff;
  border-radius: 0;
}

.tbl-tour {
  height: 350px;
  width: 350px;
}

table tr .tbl-top-row {
  color: #fff;
  background-color: #487fff;
}

table td, table th {
  border-color: #ccc;
}

.day-green {
  background-color: #9fc831;
  color: #fff;
  border-radius: 0;
}

.day-grey {
  background-color: #f9f9f9;
  border-radius: 0;
}

/* PRICING */

.pricing {
  background-color: #ffb300;
  border-radius: 10px;
  color: #fff;
  padding: 2em;
}

.pr-price {
  font-family: "Changa One", cursive;
  font-size: 3em;
}

/* pricing quote */

.quote {
  background-color: #ededed;
  padding-bottom: 2em;
}

.quote-i img {
  width: 70%;
}

.quote-mark-i img {
  width: 50%;
  transform: translate(-50%, -20%);
}

/* email section */

.email {
  background-color: #487fff;
  border-radius: 8px;
  color: #fff;
  padding: 2.5em 0;
}

.email a {
  color: #fff;
}

/* tablet */

@media only screen and (max-width: 60em) {

  .pricing {
    width: 50%;
    transform: translate(50%);
  }

}

/* mobile */

@media only screen and (max-width: 38em) {

  .pricing {
    width: 100%;
    transform: none;
  }

}

/* icon list */

@media only screen and (max-width: 60em) {

  .i-list {
    transform: translate(30%);
  }

}

@media only screen and (max-width: 38em) {

  .i-list {
    transform: translate(10%);
  }

}

/* get started button */

.btn-start {
  color: #2b2b2b;
  background-color: #fff;
  border-radius: 8px;
  padding: .5em 1.5em;
  text-decoration: none;
}

.btn-start:hover {
  background-color: #efefef;
}

/* CURRENT PAGE STYLES */

.nav .current {
  border-bottom: 4px solid #487fff;
}

/* FOOTER */

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 4em;
}

.footer {
  min-height: 100%;
}

footer li, footer a {
  text-decoration: none;
  color: #2d2d2d;
}

footer button, footer button:hover {
  border-color: #487fff;
  background-color: #044fff;
  border: none;
}

footer fieldset {
  border-top: none;
}

footer input {
  border-radius: 8px;
  border: 2px solid #ccc;
  height: 40px;
}

footer input::-webkit-input-placeholder {
  font-size: .75em;
  padding: .5em;
}

section {
  height: 100%;
}
